@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap');

:root {
    --azul-principal: #2E5077;
    --azul-secundario: #4DA1A9;
    --verde: #79D7BE;
    --fondo: #FFFFFF;
    --fondo-secciones: #F9F9F9;
    --texto: #7F807F;
    --textos-principales: #565C5F;

  
}

body {
    font-family: 'DM Sans', sans-serif !important;
    background-color: var(--fondo);
}

.logo{
    height: 40px;
}
.text-principal {
    color: var(--textos-principales);
}
.text{
    color: var(--texto);
}
.text-title{
    color: var(--azul-principal);
}
.text-second{
    color: var(--azul-secundario);
}
.primary-color{
    background-color: var(--azul-principal);
}
.secondary-color{
    background-color: var(--azul-secundario);
}
.bg-primary-color{
    background-color: var(--fondo);
}
.bg-section{
    background-color: var(--fondo-secciones);
}
.borde-hr{
    border: none; 
    border-top: 2px solid var(--azul-secundario); 
    margin: 0px 0; 
    opacity: 1;
}

/*menu del landing*/
@media (max-width: 991.98px) {
    .navbar-toggler {
        display: block;
    }
    nav.d-none {
        display: none;
    }
}
@media (min-width: 992px) {
    .navbar-toggler {
        display: none;
    }
    nav.d-none {
        display: block;
    }
}
a{
    cursor: pointer;
}
@keyframes pulse {
    0% { box-shadow: 0 0 0 0 currentColor; }
    100% { box-shadow: 0 0 0 2em transparent; }
  }
  
  .button-edit {
      background-color: var(--fondo);
      border-radius: 4px;
      border: 1.5px solid var(--azul-secundario);
      color: var(--azul-secundario);
      padding: 0px 10px;
      height: 30px;
      align-items: center;
  }
  
  .button-edit:active {
      animation: pulse 0.5s;
      box-shadow: 0 0 0 2em transparent;
  }
  
  .button-principal {
      background-color: var(--azul-principal);
      border-radius: 4px;
      color: var(--fondo);
      padding: 0px 10px;
      height: 30px;
      align-items: center;
      border: none;
  }
  
  .button-principal:active {
      animation: pulse 0.5s;
      box-shadow: 0 0 0 2em transparent;
  }
/*sidebar*/
@media (min-width: 992px) {
    main {
        transition: margin-left 0.5s ease;
    }

    main.shifted {
        margin-left: 200px;
    }

    .offcanvas {
        padding: 20px;
        top: 56px;
    }
}
.link-hover.active {
border-left-color: rgba(30, 128, 145, 0.7);
background-color: rgba(29, 106, 111, 0.1);
}

.link-hover {
    border-left: 4px solid transparent;
    background-color: transparent;
    transition: background-color 0.3s ease, border-left-color 0.3s ease;
}

.link-hover:hover {
    border-left-color: rgba(30, 128, 145, 0.7);
    background-color: rgba(29, 106, 111, 0.1);
}

input::placeholder {
    color: #cacaca !important;
}