{% extends 'layout/layout.html' %}
{% load static %}

{% block title %}
  ¿Quienes Somos?
{% endblock %}

{% block content %}
  <body class="d-flex flex-column min-vh-100">
    <section class="bg-primary text-title text-center py-5" style="background-image: url('https://www.flowww.com.mx/hubfs/Q22023%20Abril/Visual%20del%20Doctor/visual-del-doctor-seguimiento-de-servicios-realizados-por-cada-medico.webp'); background-size: cover; background-position: center;">
      <div class="container">
        <h1>¿Quiénes somos?</h1>
        <hr class="borde-hr" />
      </div>
    </section>
    <section class="primary-color text-center text-white py-3 align-items-center">¡Únete a nuestra comunidad de salud en línea hoy mismo y descubre cómo podemos ayudarte a mejorar tu salud y bienestar!</section>

    <main class="flex-grow-1">
      <section class="py-5">
        <div class="container text-center">
          <h2 class="text-principal">Conectando salud y tecnología</h2>
          <p class="text">MedOnline es una plataforma de salud en línea que conecta a pacientes con médicos y profesionales de la salud de manera ágil, segura y confiable. Nuestro objetivo es facilitar el camino hacia el bienestar a través de nuestra plataforma, proporcionar acceso a servicios de salud de alta calidad, personalizados y accesibles para todos, en cualquier momento y lugar.

            Nos esforzamos por crear una experiencia de usuario intuitiva y fácil de navegar, que permita a los pacientes encontrar y reservar citas con médicos especializados en diferentes áreas de la salud. Nuestra plataforma también ofrece una variedad de herramientas y recursos para que los pacientes puedan tomar decisiones informadas sobre su salud y bienestar.</p>
        </div>
      </section>

      <section class="py-3">
        <div class="container">
          <div class="row text justify-content-center">
            <div class="col-md-3 bg-section p-3">
              <div class="rounded-circle secondary-color text-center" style="width: 45px;">
                <i class="bi bi-check-circle fs-3 text-white"></i>
              </div>
              <p class="text">Reserva de citas en línea con médicos especializados</p>
              <p class="text">Ver opiniones reales de otros pacientes</p>
              <p class="text">Agenda para organizar tus citas si eres profesional de la salud.</p>
            </div>
            <div class="col-md-3 bg-section mx-2 p-3">
              <div class="rounded-circle secondary-color text-center" style="width: 45px;">
                <i class="bi bi-clipboard-heart fs-3 text-white"></i>
              </div>
              <p class="text">En MedOnline, nos comprometemos a mantener la privacidad y la seguridad de la información de nuestros usuarios, y trabajamos constantemente para asegurarnos de que nuestra plataforma cumpla con los más altos estándares de calidad y seguridad.</p>
            </div>
            <div class="col-md-3 bg-section p-3">
              <div class="rounded-circle secondary-color text-center" style="width: 45px;">
                <i class="bi bi-heart-pulse fs-3 text-white"></i>
              </div>
              <p class="text-muted">En MedOnline, estamos dedicados a revolucionar el acceso a la salud. Creemos que la tecnología tiene el poder de derribar barreras y acercar soluciones de bienestar a cada persona, en cualquier momento.</p>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
{% endblock %}
