{% extends 'layout/layout.html' %}
{% load static %}

{% block title %}
  404
{% endblock %}

{% block content %}
  <body class="justify-content-center">
    <div class="h-100 justify-content-center align-items-center">
      <h1 class="text-title">404</h1>
      <img src="{% static 'img/404.png' %}" alt="Error 404" />
      <button>Explorar desde la pagina principal</button>
      <p class="text-center">La página puede haber sido eliminada o actualizada.</p>
    </div>
  </body>
{% endblock %}
