{% extends 'layout/layout.html' %}
{% load static %}

{% block title %}
  Inicio
{% endblock %}

{% block content %}
  <body class="d-flex flex-column min-vh-100">
    <main class="flex-grow-1">
      <section class="text-center bg-white py-0 d-flex flex-column flex-md-row align-items-center">
        <div class="w-100 w-md-50 p-3 text-title">
          <h1>Tu salud es prioridad</h1>
          <hr class="borde-hr" />
          <p class="text">Reserva tus citas médicas en segundos. Tu salud, tu tiempo</p>
        </div>
        <div class="w-100 w-md-50">
          <img src="https://png.pngtree.com/png-clipart/20231129/original/pngtree-professional-young-team-or-group-of-doctors-colleagues-photo-png-image_13741110.png" class="fluid" style="height: 230px;" alt="medicos" />
        </div>
      </section>
      <div class="py-0 primary-color" style="height: 50px;"></div>
      <section class="justify-content-center bg-white text-secondary py-3">
        <div class="container bg-light p-3">
          <div class="row justify-content-around">
            <div class="col-md-6 col-lg-3 mb-3">
              <h6 class="text-principal"><i class="bi bi-search text-second"></i> Busca a los mejores especialistas</h6>
              <p>Encuentra entre miles de opciones a los mejores especialistas de tu región.</p>
            </div>
            <div class="col-md-6 col-lg-3 mb-3">
              <h6 class="text-principal"><i class="bi bi-calendar text-second"></i> Agenda tu cita</h6>
              <p>Elige la hora que prefieras y pide cita sin necesidad de llamar. Es fácil, cómodo y muy rápido.</p>
            </div>
            <div class="col-md-6 col-lg-3 mb-3">
              <h6 class="text-principal"><i class="bi bi-star-fill text-second"></i> Califica el servicio del especialista</h6>
              <p>Las opiniones reales de miles de pacientes te ayudarán a tomar siempre la mejor decisión.</p>
            </div>
            <div class="col-md-6 col-lg-3 mb-3">
              <h6 class="text-principal"><i class="bi bi-piggy-bank-fill text-second"></i> Ahorra tiempo y dinero</h6>
              <p>La reserva de cita es un servicio gratuito de MedOnline.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="justify-content-center bg-white text-secondary py-3">
        <div class="container bg-light d-flex justify-content-around p-3">
          <div>
            <h4 class="text-title my-2">¿Eres profesional de la salud?</h4>
            <h5 class="text-principal">Optimiza tu consulta con la mejor plataforma para profesionales de la salud</h5>
            <p>Simplifica la administración de citas, horarios desde MedOnline.</p>
            <p>Aumente su presencia en línea y atrae a más pacientes potenciales.</p>
            <p>Mejore su reconocimiento permitiendo que pacientes califiquen su buen desempeño.</p>
          </div>
          <div class="d-none d-lg-block">
            <img src="https://ginecologo-matamoros.com/assets/appointment_img-DzbZlMsi.png" alt="medico-apuntando-servicios" style="height: 200px;" />
          </div>
        </div>
      </section>
    </main>
  </body>
{% endblock %}
