<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body class="d-flex flex-column min-vh-100">
    <header class="bg-section text-white pt-1 px-0" style="height: 56px;">
        <nav class="navbar bg-body-tertiary fixed-top">
            <div class="container-fluid">
                <a href="{% url 'landing' %}" class="navbar-brand"><img src="{% static 'img/logo.png' %}" class="logo"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <nav class="d-none d-lg-block">
                    <ul class="nav">
                        <li class="nav-item"><a class="nav-link text-principal" href="{% url 'landing' %}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link text-principal" href="{% url 'quienes-somos' %}">¿Quíenes somos?</a></li>
                        <li class="nav-item"><a class="nav-link text-principal" href="#">Registrarse</a></li>
                        <li class="nav-item"><a class="nav-link text-principal" href="#">Acceder</a></li>
                    </ul>
                </nav>
            </div>
        </nav>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">MedOnline</h5>
                <button type="button" class="btn-close btn-close" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link text" href="{% url 'landing' %}">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link text" href="{% url 'quienes-somos' %}">¿Quíenes somos?</a></li>
                    <li class="nav-item"><a class="nav-link text" href="#">Registrarse</a></li>
                    <li class="nav-item"><a class="nav-link text" href="#">Acceder</a></li>
                </ul>
            </div>
        </div>
    </header>
    
    <main class="flex-grow-1">
        <section class="text-center bg-white py-0 d-flex flex-column flex-md-row align-items-center">
            <div class="w-100 w-md-50 p-3 text-title">
                <h1>Tu salud es prioridad</h1>
                <hr class="borde-hr">
                <p class="text">Reserva tus citas médicas en segundos. Tu salud, tu tiempo</p>
            </div>
            <div class="w-100 w-md-50">
                <img src="https://png.pngtree.com/png-clipart/20231129/original/pngtree-professional-young-team-or-group-of-doctors-colleagues-photo-png-image_13741110.png"
                    class="fluid" style="height: 230px;" alt="medicos">
            </div>
        </section>
        <div class="py-0 primary-color" style="height: 50px;"></div>
        <section class="justify-content-center bg-white text-secondary py-3">
            <div class="container bg-light p-3">
                <div class="row justify-content-around">
                    <div class="col-md-6 col-lg-3 mb-3">
                        <h6 class="text-principal"><i class="bi bi-search text-second"></i> Busca a los mejores
                            especialistas</h6>
                        <p>Encuentra entre miles de opciones a los mejores especialistas de tu región.</p>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-3">
                        <h6 class="text-principal"><i class="bi bi-calendar text-second"></i> Agenda tu cita</h6>
                        <p>Elige la hora que prefieras y pide cita sin necesidad de llamar. Es fácil, cómodo y muy
                            rápido.</p>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-3">
                        <h6 class="text-principal"><i class="bi bi-star-fill text-second"></i> Califica el servicio del
                            especialista</h6>
                        <p>Las opiniones reales de miles de pacientes te ayudarán a tomar siempre la mejor decisión.</p>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-3">
                        <h6 class="text-principal"><i class="bi bi-piggy-bank-fill text-second"></i> Ahorra tiempo y
                            dinero</h6>
                        <p>La reserva de cita es un servicio gratuito de MedOnline.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="justify-content-center bg-white text-secondary py-3">
            <div class="container bg-light d-flex justify-content-around p-3">
                <div>
                    <h4 class="text-title my-2">¿Eres profesional de la salud?</h4>
                    <h5 class="text-principal">Optimiza tu consulta con la mejor plataforma para profesionales de la
                        salud</h5>
                    <p>Simplifica la administración de citas, horarios desde MedOnline.</p>
                    <p>Aumente su presencia en línea y atrae a más pacientes potenciales.</p>
                    <p>Mejore su reconocimiento permitiendo que pacientes califiquen su buen desempeño.</p>
                </div>
                <div class="d-none d-lg-block">
                    <img src="https://ginecologo-matamoros.com/assets/appointment_img-DzbZlMsi.png"
                        alt="medico-apuntando-servicios" style="height: 200px;" />
                </div>
            </div>
        </section>
    </main>
    <footer class="primary-color text-white text-center py-3 mt-auto">
        <div class="container text-center">
            <p>&copy; 2025 MedOnline. Todos los derechos reservados.</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>