{% extends 'layout/layout.html' %}
{% load static %}

{% block title %}
  Token Inválido
{% endblock %}

{% block content %}
  <body class="d-flex flex-column min-vh-100">
    <div class="container flex-grow-1 my-5">
      <div class="text-center my-5">
        <img src="{% static 'img/logo.png' %}" alt="MedOnline Logo" class="mb-3" style="height: 82px" />
        <h1 class="text-title">Token Inválido</h1>
      </div>
      <div class="container flex-grow-1 my-5 d-flex justify-content-center align-items-center">
        <div class="w-100" style="max-width: 70vh">
          <div class="alert alert-danger text-center" role="alert">
            <p class="mb-4">El enlace de recuperación de contraseña que has usado no es válido o ha expirado.</p>
            <p>Por favor, solicita un nuevo enlace para restablecer tu contraseña.</p>
          </div>
          <div class="text-center mt-4">
            <a href="{% url 'recovery_password_view' %}" class="btn primary-color fw-bold" style="color: #FFFFFF">SOLICITAR NUEVO ENLACE</a>
          </div>
          <div class="mt-5 text-center">
            <a href="{% url 'login' %}" class="text-decoration-none text-second">Volver al inicio de sesión</a>
          </div>
        </div>
      </div>
    </div>
  </body>
{% endblock %}
