{% extends 'layout/layout.html' %}
{% load static %}

{% block title %}
  Inicio de Sesión
{% endblock %}

{% block content %}
  <body class="d-flex flex-column min-vh-100">
    <div class="container flex-grow-1 my-5">
      <div class="text-center my-5">
        <img src="{% static 'img/logo.png' %}" alt="MedOnline Logo" class="mb-3" style="height: 82px" />
        <h1 class="text-title">Inicio de Sesión</h1>
      </div>
      <div class="container flex-grow-1 my-5 d-flex justify-content-center align-items-center">
        <div class="w-100" style="max-width: 70vh">
          <form id="loginForm" class="w-100" method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="id_username" class="form-label text-second">Correo Electrónico</label>
              {{ form.email }}
            </div>
            <div class="mb-3">
              <label for="id_password" class="form-label text-second">Contraseña</label>
              {{ form.password }}
            </div>
            {% if error %}
              <div class="text-center alert alert-danger" role="alert">{{ error }}</div>
            {% endif %}
            <button type="submit" class="btn w-100 primary-color fw-bold" style="color: #FFFFFF">INICIAR SESIÓN</button>
          </form>
        </div>
      </div>
      <div class="mt-5 text-center">
        <a href="{% url 'recovery_password_view' %}" class="text-decoration-none text-second">He olvidado mi contraseña</a>
      </div>
      <div class="mt-5 text-center">
        <span>¿Todavía no tienes cuenta? <a href="{% url 'registro' %}" class="text-decoration-none text-second">Quiero registrarme</a></span>
      </div>
    </div>
  </body>

  {% block script %}
    <script>
      document.getElementById('loginForm').addEventListener('submit', async function (event) {
        event.preventDefault()
        const form = event.target
        const formData = new FormData(form)
        const email = formData.get('email')
        const password = formData.get('password')
        try {
          const response = await fetch(form.action, {
            method: 'POST',
            body: JSON.stringify({ email: email, password: password }),
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': formData.get('csrfmiddlewaretoken')
            }
          })
      
          const contentType = response.headers.get('content-type')
          let data
          if (contentType && contentType.includes('application/json')) {
            data = await response.json()
          } else {
            throw new Error('Response is not JSON')
          }
          if (response.ok) {
            localStorage.setItem('access_token', data.access_token)
            localStorage.setItem('refresh_token', data.refresh_token)
            localStorage.setItem('user_role', data.role)
            window.location.href = data.redirect_url
          } else {
            displayError('Credenciales incorrectas')
          }
        } catch (error) {
          console.error('Error parsing response:', error)
          displayError('Ocurrió un error con servidor, por favor intenta de nuevo.')
        }
      })
      function displayError(message) {
        const form = document.getElementById('loginForm')
        let errorDiv = form.querySelector('.alert-danger')
        if (!errorDiv) {
          errorDiv = document.createElement('div')
          errorDiv.className = 'alert alert-danger'
          errorDiv.role = 'alert'
          form.prepend(errorDiv)
        }
        errorDiv.innerText = message
      }
    </script>
  {% endblock %}
{% endblock %}
